
.vs/String-calculator/v16/.suo
.vs/String-calculator/v16/Browse.VC.db
.vs/String-calculator/v16/ipch/AutoPCH/8fd8b950a0527a5d/STRING-CALCULATOR.ipch
.vs/String-calculator/v16/ipch/AutoPCH/933617effd6de54/STRING-CALCULATOR.ipch
.vs/String-calculator/v16/ipch/AutoPCH/c25632f4036acacd/HEADER.ipch
